<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body>
<!-- Begin Page Content -->
<div layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables Products</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a th:href="@{/admin/products/add}" class="btn btn-success ">Add New Products</a>
            <button onclick="showDeleteAllModal('products')" class="btn btn-danger ">Delete All</button>
        </div>
        <div class="card-body">
            <div th:if="${message != null}" class="alert alert-primary" role="alert">
                <i>[[${message}]]</i>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="productTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="checkAll" id="checkAll"></th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>UnitPrice</th>
                        <th>Discount</th>
                        <th>Status</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${products}">
                        <th><input type="checkbox" name="checkOne" th:id="${item.productId}"></th>
                        <th> 
                        	<img th:src="${item.image!=null ? '/admin/products/images/' + item.image : 'assert-admin/img/admin/No_Image_Available.jpg'}" 
                        	width="50%" class="img-fluid">
                        </th>
                        <th th:text="${item.name}"></th>
                        <th th:text="${item.quantity}"></th>
                        <th th:text="${item.unitPrice}"></th>
                        <th th:text="${item.discount}"></th>
                        <th th:text="${item.status}"></th>
                        <th th:text="${item.category.name}"></th>
                        <td>
                            <a href="#" class="p-1 text-primary"><i class="bi bi-eye-fill"></i></a>
                            <a th:href="@{'/admin/products/edit/' + ${item.productId}}" class="p-1 text-warning"><i
                                    class="fas fa-edit"
                                    aria-hidden="true"></i></a>
                            <a th:data-id="${item.productId}"
                               th:data-name="${item.name}"
                               onclick="showConfirmModalDialog(this.getAttribute('data-id') , this.getAttribute('data-name') , 'products')"
                               class="p-1 text-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
	<!-- Modal Delete One-->
    <div class="modal fade" id="deleteModalId" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete "<span id="deleteName"></span>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a id="yesOption" type="button" class="btn btn-primary">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete Many-->
    <div class="modal fade" id="deleteModalId_2" tabindex="-1" aria-labelledby="deleteModal_2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal_2">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a id="yesOptions" type="button" class="btn btn-primary">Yes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

</body>

</html>