<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>
<body id="page-top">
<!-- Begin Page Content -->
<div class="container-fluid" layout:fragment="content">
    <form th:action="@{/admin/categories/saveOrUpdate}" method="post" th:object="${category}">
        <div class="card text-dark col-sm-8">
            <div class="card-header">
                <h1 class="text-primary" th:text="${category.checkEdit ? 'Edit Category' : 'Add New Category'}"></h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <input type="hidden" th:field="*{checkEdit}">
                        <div class="form-group" th:if="${category.checkEdit}">
                            <label for="categoryId">Category ID</label>
                            <input type="text" class="form-control" name="categoryId" id="categoryId"
                                   th:field="*{categoryId}"
                                   aria-describedby="categoryId_helpId" placeholder="Category ID">
                        </div>
                        <div class="form-group">
                            <label for="name">Category Name</label>
                            <input type="text" class="form-control" name="name" id="name"
                                   th:field="*{name}"
                                   aria-describedby="name_helpId" placeholder="Category Name">
                            <small id="name_helpId" class="form-text text-danger"
                                th:if="${#fields.hasErrors('name')}">
                                Category name is required!</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" name="description" id="description"
                                      th:field="*{description}" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a th:href="@{/admin/categories/}" th:unless="${category.checkEdit}" class="btn btn-success">List</a>
                <a th:href="@{'/admin/categories/delete/' + ${category.categoryId}}"
                   th:if="${category.checkEdit}" class="btn btn-success">Delete</a>
                <button type="submit" class="btn btn-primary"
                        th:text="${category.checkEdit ? 'Update' : 'Save'}" >Save</button>
                <button type="reset" class="btn btn-secondary float-right">Reset</button>
            </div>
        </div>
    </form>
</div>
<!-- /.container-fluid -->
</body>

</html>