<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>
<body id="page-top">
	<!-- Begin Page Content -->
	<div class="container-fluid" layout:fragment="content">
		<form th:action="@{/admin/users/saveOrUpdate}" method="post"
			th:object="${user}">
			<div class="card text-dark col-sm-8">
				<div class="card-header">
					<h1 class="text-primary" th:text="${user.checkEdit ? 'Edit User' : 'Add New User'}"></h1>
					
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col">
							<input type="hidden" th:field="*{checkEdit}" />
							<input type="hidden" th:if="${user.checkEdit}" th:field="*{id}" />
							<div class="form-group">
								<label for="username">User Name</label> <input type="text"
									class="form-control" name="username" id="username"
									th:field="*{username}"
									aria-describedby="username_helpId" placeholder=""> <small
									id="username_helpId" class="form-text text-muted"
									th:if="${#fields.hasErrors('username')}">User
									Name is required!</small>
							</div>
							<div class="form-group">
								<label for="password">Password</label> <input type="text"
									class="form-control" name="password" id="password" 
									th:field="*{password}"
									aria-describedby="password_helpId" placeholder=""> <small
									id="password_helpId" class="form-text text-muted"
									th:if="${#fields.hasErrors('password')}">Password
									is required!</small>
							</div>
							<div class="form-group">
								<label for="email">Email</label> <input type="email"
									class="form-control" name="email" id="email"
									th:field="*{email}"
									aria-describedby="email_helpId" placeholder=""> <small
									id="email_helpId" class="form-text text-muted"
									th:if="${#fields.hasErrors('email')}">Email is
									required!</small>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="firstName">First Name</label> <input type="text"
											class="form-control" name="firstName" id="firstName"
											th:field="*{firstName}"
											aria-describedby="firstName_helpId" placeholder=""> <small
											id="firstName_helpId" class="form-text text-muted"
									th:if="${#fields.hasErrors('firstName')}">First
											Name is required!</small>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="lastName">Last Name</label> <input type="text"
											class="form-control" name="lastName" id="lastName"
											th:field="*{lastName}"
											aria-describedby="lastName_helpId" placeholder=""> <small
											id="lastName_helpId" class="form-text text-muted"
									th:if="${#fields.hasErrors('lastName')}">Last
											Name is required!</small>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<label for="address">Address</label> <input type="text"
									class="form-control" name="address" id="address"
									th:field="*{address}"
									aria-describedby="address_helpId" placeholder=""> <small
									id="address_helpId" class="form-text text-muted"
									th:if="${#fields.hasErrors('address')}">Address
									is required!</small>
							</div>
							<div class="form-group">
								<label for="phone">Phone</label> <input type="text"
									class="form-control" name="phone" id="phone"
									th:field="*{phone}"
									aria-describedby="phone_helpId" placeholder=""> <small
									id="phone_helpId" class="form-text text-muted"
									th:if="${#fields.hasErrors('phone')}">Phone is
									required!</small>
							</div>
							 <div class="form-group">
								<label for="roleId">Role</label>
	                            <select class="form-control" name="roleId" id="roleId" th:field="*{roleId}">
	                                <option th:each="item : ${roles}" 
	                                		th:value="${item.roleId}"
	                                		th:text="${item.name}"
	                                		th:selected="${item.roleId == user.roleId}">Role Name</option>
	                            </select>
							</div>
							
						</div>
					</div>
				</div>
				<div class="card-footer text-muted">
					<a th:href="@{/admin/users/}" th:unless="${user.checkEdit}" class="btn btn-success">List</a>
                	<a th:href="@{'/admin/users/delete/' + ${user.id}}"
                   	   th:if="${user.checkEdit}" class="btn btn-success">Delete</a>
					<button class="btn btn-primary"
					 	 th:text="${user.checkEdit ? 'Update' : 'Save'}"></button>
					<button type="reset" class="btn btn-secondary float-right">Reset</button>
				</div>
			</div>
		</form>
	</div>
	<!-- /.container-fluid -->
</body>

</html>