<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/dashboardLayout.html}">

<head>
</head>

<body id="page-top">
<!-- Begin Page Content -->
<div layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables Category</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a th:href="@{/admin/users/add}" class="btn btn-success ">Add New User</a>
            <button onclick="showDeleteAllModal('users')" class="btn btn-danger ">Delete All</button>
        </div>
        <div class="card-body">
            <div th:if="${message != null}" class="alert alert-primary" role="alert">
                <i>[[${message}]]</i>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="userTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="checkAll" id="checkAll"></th>
                        <th>User Name</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${users}">
                        <th><input type="checkbox" name="checkOne" th:id="${item.id}"></th>
                        <td th:text="${item.username}"></td>
                        <td th:text="${item.firstName +' '+ item.lastName}"></td>
                        <td th:text="${item.email}"></td>
                        <td th:text="${#strings.substring(item.password,0,2) + '******'}"></td>
                        <!-- <td th:text="${item.password}"></td> -->
                        <td th:text="${item.role.code}"></td>
                        <td>
                            <a href="#" class="btn btn-outline-primary"><i class="fa fa-info"
                                                                           aria-hidden="true"></i></a>
                            <a th:href="@{'/admin/users/edit/' + ${item.id}}" class="btn btn-outline-warning"><i
                                    class="fas fa-edit"
                                    aria-hidden="true"></i></a>
                            <a th:data-id="${item.id}"
                               th:data-name="${item.username}"
                               onclick="showConfirmModalDialog(this.getAttribute('data-id') , this.getAttribute('data-name'),'users')"
                               class="btn btn-outline-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal Delete One-->
    <div class="modal fade" id="deleteModalId" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete "<span id="deleteName"></span>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a id="yesOption" type="button" class="btn btn-primary">Yes</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Delete Many-->
    <div class="modal fade" id="deleteModalId_2" tabindex="-1" aria-labelledby="deleteModal_2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal_2">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a id="yesOptions" type="button" class="btn btn-primary">Yes</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

</body>

</html>